<% @article.each do |item| %>
  <h3>
    <%=item.title%>
  </h3>
  <p>
    <%=item.text%>
  </p>
  <h5>
    Добавлено <%=item.created_at%>
    <%= link_to ' >>>', article_path(item) %> |
    <%= link_to ' Редактировать', edit_article_path(item) %> <br />
  </h5>
  <hr />
<% end %>
