<% @article.each do |item| %>
  <h3>
    <%=item.title%>
  </h3>
  <p>
    <%=item.text%>
  </p>
  <h5>
    Написал: <%= item.username %> |
    Добавлено <%=item.created_at%>
    <%= link_to ' >>>', article_path(item) %>
    <% if item.username == current_user.username %>
       |<%= link_to ' Редактировать', edit_article_path(item) %> |
      <%= link_to ' x', article_path(item), method: :delete,
        data: {confirm: 'Удалить этот пост?'} %>
    <% end %>
    <br />
  </h5>
  <hr />
<% end %>
