<h2>Новый пост</h2>

<%= form_for :article, url: articles_path do |f| %>

  <% if @article && @article.errors.any? %>
    <p>
      Errors:
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li> <%= msg %> </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <p>
    <%= f.label :title %> <br />
    <%= f.text_field :title, class: "form-control", style: "width: 400px" %>
  </p>
  <p>
    <%= f.label :text %> <br />
    <%= f.text_area :text, class: "form-control", style: "width: 400px" %>
  </p>
  <p>
    <%= f.submit "Сохранить", class: "btn btn-success" %>
  </p>
<% end %>
