<h3>
  <%= @article.title %>
</h3>
<p>
  <%= @article.text %>
</p>
<h5>
  <%= @article.created_at %>
  <%= link_to ' Редактировать', edit_article_path(@article) %> <br />
</h5>

<%= link_to 'Список всех постов', articles_path %><br />
